Controllers/__pycache__/
__pycache__/
venv/
.vs/
test/
test.py
.DS_Store
.idea/
GUI/.DS_Store
GUI/__pycache__/
GUI/Controls_Widget/.qtcreator
GUI/Controls_Widget/.qtcreator/
GUI/Controls_Widget/Controls_Widget.pyproject
GUI/Controls_Widget/Controls_Widget.pyproject.user
GUI/Icons/.DS_Store
GUI/Root-Widget/.qtcreator/
GUI/Root-Widget/Root-Widget.pyproject
GUI/Root-Widget/Root-Widget.pyproject.user
GUI/graph_widget/.qtcreator/
GUI/graph_widget/graph_widget.pyproject
GUI/graph_widget/graph_widget.pyproject.user
sin_generator.py
Signal-Viewer Retry/.env
Signal-Viewer Retry/5000 ecgs.csv
Signal-Viewer Retry/ecg selector.py
Signal-Viewer Retry/random_ecg_files/
Signal-Viewer Retry/data.csv
Signal-Viewer Retry/ecg divider.py
Signal-Viewer Retry/ecg plotter.py
Signal-Viewer Retry/glue test.py